---
// src/pages/index.astro
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Projects from '../components/Projects.astro';
import About from '../components/About.astro';
import Certificates from '../components/Certificates.astro';
import Skills from '../components/Skills.astro';
import Contact from '../components/Contact.astro';
---

<Layout title="Nahu | Portfolio">
	<main>
		<Hero />
		<Projects />
        <About />
        <Certificates />
        <Skills />
        <Contact />
	</main>
</Layout>