---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Projects from '../components/Projects.astro';
import About from '../components/About.astro'; // <--- Nuevo
import Skills from '../components/Skills.astro'; // <--- Nuevo
---

<Layout title="Nahu | Portfolio">
	<main>
		<Hero />
		<Projects />
        <About /> <Skills />
	</main>
</Layout>