---
// src/layouts/Layout.astro
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Particles from "astro-particles"; // <--- Importar
import { loadSlim } from "tsparticles-slim"; // <--- Importar motor ligero
import { particlesConfig } from "../config/particlesConfig"; // <--- Tu config

// Función para inicializar partículas
const particlesInit = async (engine: any) => {
  await loadSlim(engine);
};

interface Props { title: string; }
const { title } = Astro.props;
---

<!doctype html>
<html lang="es" class="scroll-smooth">
  <head>...</head>
  
  <body class="bg-chess-dark text-white font-sans relative">
    
    <div class="absolute inset-0 -z-10 h-full w-full">
        <Particles id="tsparticles" options={particlesConfig} init={particlesInit} />
    </div>

    <Header />
    <slot />
    <Footer />
  </body>
</html>